.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rodri, .emm {
  width: 50vw;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
}

.emm {
  clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
  // background-color: blue;
  margin-right: -5vh;
  padding: 5px 11vh 5px 5px;
  justify-content: end;
  position: relative;
}

.rodri {
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
  // background-color: red;
  margin-left: -5vh;
  padding: 5px 5px 5px 11vh;
  justify-content: start;
  position: relative;
}

.emmContent {
  margin: 0;
  text-align: center;
}

.image {
  padding: 0 30px;
}