.imgContainer  {
  width: 308px;
  display: inline-block;
  cursor: not-allowed;
  font-size: 30px;
}

.imgContainer2  {
  font-size: 30px;
  width: 308px;
  height: 560px;
  display: inline-block;
  cursor: pointer;
}